---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';

const title = "Dev. Alejandro";
---

<Layout title={title}>
	<div class="flex flex-col gap-y-4">
		<Header />
		<Hero/>
		<Skills />
		<Contact />
	</div>
</Layout>
