---
import Location from '../components/icons/Location.astro'
import Mail from '../components/icons/Mail.astro'
---


<div class="border-zinc-700 border-b pt-0 pb-8">
  <h2 class="text-2xl">Contacto</h2>

  <div class="flex flex-wrap gap-4 justify-between">
    <div class="flex-1 p-2 bg-zinc-800 rounded-sm flex gap-2">
      <Location />
      <span>Culiacán, Sinaloa, México</span>
    </div>
    <div class="flex-1 p-2 bg-zinc-800 rounded-sm flex gap-2">
      <Mail />
      <span>marale7951@gmail.com</span>
    </div>
  </div>
</div>

