---
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";


---

<header class="p-2 flex justify-end gap-2 h-6">
  <a class="aspect-square h-full" href="https://github.com/umdalecs">
    <Github />
  </a>
  <a class="aspect-square h-full" href="https://www.linkedin.com/in/martin-alejandro-flores-salda%C3%B1a-50540934a/">
    <LinkedIn />
  </a>
</header>
