:root {
  font-size: 16px;
  font-family: sans-serif;

  --background: rgb(20, 20, 20);
  --foreground: rgb(200, 200, 200);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
}

a {
  color: var(--foreground);
  text-decoration: none;
}

body {
  overflow: auto;
  background: var(--background);
  color: var(--foreground);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-inline: auto;
}

.container > p {
  max-width: 35rem;
}

main.container {
  height: 100%;
  max-width: fit-content;
}

main.container > img {
  border-radius: 50%;
  border: 2px solid var(--foreground);
}

h1 {
  font-size: 2.5rem;
  margin-block: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
}
.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}