:root {
  font-size: 16px;
  font-family: sans-serif;

  --background: rgb(20,20,20);
  --foreground: rgb(200,200,200);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1rem;
  margin: 0;
}

a{ 
  color: var(--foreground);
  text-decoration: none;
}

body {
  background: var(--background);
  color: var(--foreground);
}
